.grid {
    display: grid;
    padding-top: 20px;
    padding-bottom: 20px;
    grid-template-columns: 400px 400px;
    row-gap: 40px;
    justify-content: center;
}
.cloth {
    width: 250px;
    height: 250px;
    
}
.product {
    font-family: arial;
    font-size: 20px;

}
.price {
    font-family: arial;
    color: rgb(90, 90, 90);
}
.button {
    background-color: rgb(3, 138, 3);
    color: white;
    border: none;
    border-radius: 5px;
    font-family: arial;
    padding: 9px 12px;
    transition: scale 0.15s , opacity 0.15s;
}
.button:hover {
    opacity: 0.7;
    scale: 1.06;
    cursor: pointer;
}
.box {
    width: 300px;
    text-align:center ;
    background-color: white;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.5);
    padding: 20px;
    transition: transform 0.20s;
}
.box:hover {
    transform: translateY(-5px);
}